@charset "UTF-8";
ul {  /* all ul style*/
   list-style-type:none;
   margin:0;
   padding:0;
   overflow:hidden;   
}
 li{	 
    float:left;
	 }
#Logo{ /* set font:play attribute and animation*/
	position:absolute;
	top:-15px;
	left:215px;
    color: yellow;
	font-size:65px;
    -webkit-animation: mymove 5s infinite; 
    animation: mymove 5s infinite;
}	
#logoofcossie{  /* img position */
	height: 95px;
	position: relative;
	top: -13px;
	
}

@-webkit-keyframes mymove{
	50% {color:blue;}
	}
@keyframes mymove {
    50% {color:blue;}
}
.Nav_link, #dropbtn{ /*set navigation bar basic attributes*/
display:block;
color:#ED5713;
text-align:center;
padding:8px 18px;
text-decoration:none;
font-weight:bold;
text-transform:uppercase;
}
.Nav_link:hover, #drop:hover #dropbtn{ /* this is make drop btn keep the color*/
       color:#1939F4;	   
	}
.drop_block{	 /* this set dropblock attribute*/
	float:none;
	background-color:#F1F1F1;
	height:30px;
	padding-top:12px;
	text-align:center;
	}
.drop_block:hover{  /* set color when mouse hover*/
	
	}		
.dropdown{  /* set dropdown block position*/
	font-weight:bold;
	position:absolute;
	display:none;
	width:120px;	
	text-transform:uppercase;
	}	
.dropdown_content{ /* basic attributes*/
    text-decoration:none;
	color:#FB490F;
	}
.dropdown_content:hover{
	color:#1939F4}
.social_media{
	text-align:center;	
	float:right;
	margin-right:10px}
.social_media span{
	  position:relative;
	  top:-5px;
	}
#Nav_bar{
	float:right;
	margin-right:-25px;
    width:70%;
}
#Nav_bar li:hover ul{  /* important step for display second navigation bar*/
    display:block;  
}  
#Logo_div {	
	height:50px;
}
#search_bar {
	position: absolute;
	left:730px;
	top:20px;
}
#advertisement{
    width:100px;
	height:100px;
	position:absolute;
	animation-name:movepicture;
	animation-duration:15s;
	animation-timing-function:linear;
	animation-delay:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	-webkit-animation-name:movepicture;
	-webkit-animation-duration:15s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
	}
	#advertisement:hover {
		animation-play-state:paused;
		-webkit-animation-play-state:paused;
		}
	
	@keyframes movepicture {
		0%   {left:20px; top:150px;}
        50%  {left:20px; top:200px;}
        100% {left:20px; top:150px;}
      }
    @-webkit-keyframes movepicture{
		0%   {left:20px; top:150px;}
        50%  {left:20px; top:200px;}
        100% {left:20px; top:150px;}
		 }
 #move_adver{
	  border-radius: 20px;
	  width:100px;
	 }
#Sec_body {
 clear:both;
}
#footer {
	color:#A1999A;
	position:relative;
	left:35px;
	top:-10px;
}

